/* ./resources/css/app.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./font.css";
@import "./font/fontawesome/css/all.css";
.Nunito {
    font-family: Nunito;
}

.JosefinSans {
    font-family: JosefinSans;
}