@font-face {
    font-family: DancingScript;
    font-weight: bold;
    src: url(./font/DancingScript-Bold.ttf) format("truetype");
}

@font-face {
    font-family: JosefinSans;
    font-weight: bolder;
    src: url(./font/JosefinSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: JosefinSans;
    font-weight: bolder;
    src: url(./font/JosefinSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: JosefinSansLight;
    font-weight: lighter;
    src: url(./font/JosefinSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: Nunito;
    font-weight: bold;
    src: url(./font/Nunito-Bold.ttf) format("truetype");
}

@font-face {
    font-family: NunitoLight;
    font-weight: lighter;
    src: url(./font/Nunito-Light.ttf) format("truetype");
}